.bankTheoryRowContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #b7c1d6;
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
}

.rowContent {
    font-size: 16px;
    font-weight: 400;
}

.rowSource {
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #040070;
    margin-left: 60px;
}
