.taskFinderContainer {
    display: flex;
    flex-direction: column;
}

.findTitle {
    font-size: 24px;
    font-weight: 400;
    font-family: system-ui, "Open Sans";
    margin-bottom: 16px;
}

.finderByNumber {
    height: 35px;
    display: flex;
    gap: 36px;
    margin-bottom: 36px;
}

.finderByNumberInput {
    width: 227px;
    height: 30px;
    padding-left: 8px;
    border-radius: 6px;
    border: 1px solid grey;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.finderByNumberButton {
    width: 197px;
    height: 35px;
    border: 1px solid #9095ec;
    background-color: #f6fbff;
    color: #040070;
    font-size: 22px;
    font-weight: 400;
    font-family: system-ui, "Open Sans";
    border-radius: 6px;
}

.finderByType {
    display: flex;
    gap: 16px;
}

.finderSelect {
    width: 475px;
    height: 35px;
    padding-left: 8px;
    border-radius: 6px;
    border: 1px solid grey;
}
