.themeWindowContainer {
    position: absolute;
    width: 100vw;
    left: 0;
    top: 0;
    background-color: white;
    padding-top: 24px;
    padding-left: 64px;
}

.themeWindowHeaderContainer {
    display: flex;
}

.themeWindowHeader {
    display: flex;
    flex-direction: column;
    margin-bottom: 36px;
    margin-top: 36px;
}

.backButton {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #040070;
    background-color: #f6fbff;
    border: 1px solid #9095ec;
    width: 117px;
    height: 40px;
    border-radius: 6px;
    font-size: 24px;
    font-weight: 300;
    margin-left: 400px;
}

.themeWindowRow {
    font-size: 36px;
    font-weight: 400;
    color: #040070;
}

.themeWindowContent {
    display: flex;
    flex-direction: column;
}

.themeRow {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
}

.themeWindowNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 32px;
    font-weight: 600;
    border: 1px solid black;
}

.themeWindowDescription {
    display: flex;
    width: 1075px;
    font-size: 20px;
    font-weight: 400;
    flex-wrap: wrap;
}
