.tasksBankContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bankHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.tasksBankContent {
    display: flex;
    width: 900px;
    gap: 80px;
}
