.taskWindowContainer {
    position: absolute;
    width: 100vw;
    left: 0;
    top: 0;
    background-color: white;
    padding-top: 24px;
    padding-left: 64px;
    height: 100%;
}

.taskWindowHeaderContainer {
    display: flex;
}

.taskWindowHeader {
    display: flex;
    flex-direction: column;
    margin-bottom: 36px;
    margin-top: 36px;
}

.backButton {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #040070;
    background-color: #f6fbff;
    border: 1px solid #9095ec;
    width: 117px;
    height: 40px;
    border-radius: 6px;
    font-size: 24px;
    font-weight: 300;
    margin-left: 400px;
}

.taskWindowRow {
    font-size: 36px;
    font-weight: 400;
    color: #040070;
}

