.theoryBankContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.bankHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bankTheoryContent {
    display: flex;
    gap: 80px;
    width: 900px;
}

.bankTheoryRowsContainer {
    display: flex;
    flex-direction: column;

}
